 /* Leave room for the navigation bars*/
#app-container {
	 padding-top: 60px;
	 padding-bottom: 60px;}

/* Take blood pressure button */
#take-bp-btn {
	position: absolute;
	bottom: 15%;
	width:80%;
}

/* Blood Pressure Graph */
#bp-graph-container
{
    width:100%;
    height:40vh;
}

/* In case we want to rotate the bp axis labels */
#bp-graph-container div.xAxis div.tickLabel
{
    /*transform: rotate(-30deg);*/
}

/* Scrollable table with fixed headers (might want to create a class)*/
table.tableSection {
    display: table;
    width: 100%;
}
table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}
table.tableSection tbody {
    overflow: auto;
    height: 55vh;
}
table.tableSection tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.tableSection th, table.tableSection td {
    width: 33%;
}